@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

html {
    height: 100vh;
}

#burger {
    background-color: #21203f89;
    display: block;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    padding: 7px;
    width: 90vw;
    cursor: pointer;
}

#burger:hover {
    background-color: #c5a898;
}

body {

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../gif/midoriyastudygif.gif");
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    justify-content: flex-start;
}

header {
    background-color: #1a183bd7;
    margin-top: 3px;
    border-radius: 7px 7px 0px 0px;
    width: 90vw;
    margin: auto;
}

header>h1 {
    text-align: center;
    color: whitesmoke;
    padding: 3px;
    text-shadow: #c5a898 1px 1px 10px;
    margin-top: 17px;
}

p {
    font-size: 20px;
    font-weight: 600;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    margin-top: 5vh;
}

.container img {
    max-width: 20vh;
    margin-right: 2.5vh;
    margin-left: 2.5vh;
    margin-bottom: auto;
}

.container p {
    flex: 1;
    margin-right: 0.5vh;
    font-family: Arial, Helvetica, sans-serif;
}

.containerinverted {
    display: flex;
    align-items: center;
    margin-top: 2.5vh;
}

.containerinverted img {
    max-width: 20vh;
    margin-right: 5vh;
    margin-left: 3.5vh;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.containerinverted p {
    flex: 1;
    margin-left: 1.5vh;
    font-family: Arial, Helvetica, sans-serif;
}

.containerfooter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.containerfooter img {
    max-width: 30vh;
    margin-right: 1vh;
    margin-left: 5vh;
}

.containerfooter p {
    flex: 1;
}

menu {
    color: #21203f89;
    text-align: center;
    list-style-type: none;
    width: 90vw;
    margin: auto;
    display: none;
}

menu>ul {
    list-style-type: none;
    background-color: #21203f89;
}

menu>ul>li>a {
    display: block;
    padding: 7px;
    text-decoration: none;
    text-align: center;
    background-color: #47479f89;
    border-radius: 0px 0px 0px 0px;
    color: whitesmoke;
    margin: auto;
}

menu>ul>li>a:hover {
    background-color: #484768;
    color: whitesmoke;
    text-decoration: none;
}

main {
    background-color: #c4a797b4;
    width: 90vw;
    margin: auto;
    border-radius: 7px 7px 0px 0px;
    margin-top: 7px;
    padding: 3px;

}

article>h2 {
    padding-bottom: 17px;
    color: black;
    margin-left: 1vh;
}

article>p {
    text-align: justify;
    margin-bottom: 17px;
    text-indent: 17px;

}

footer {
    background-color: #c4a797b4;
    text-align: center;
    border-radius: 0px 0px 7px 7px;
    width: 90vw;
    padding: 7px;
    margin: auto;
}

#iconav {
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-bottom: 5px;
}

img {
    display: block;
    margin: auto;
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url("../gif/rengokugif.gif");
        background-attachment: fixed;
        background-size: cover;
    }

    #burger {
        display: none;
    }


    menu {
        display: block;
        width: 90vw;
        margin: auto;
        background-color: #21203f89;
    }

    menu>ul>li {
        display: inline-block;
        background-color: #21203f89;

    }

    main {
        width: 90vw;
        margin: auto;
    }

    article>h2 {
        padding-bottom: 17px;
        width: 90vw;
        margin: auto;
    }

    article>p {
        text-align: justify;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 90vw;
        margin: auto;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        background-image: url("../gif/computacaogif.gif");
        background-size: cover;
        background-attachment: fixed;
    }

    #burger {
        display: none;
    }

    menu {
        display: block;
        background-color: #21203f89;
    }

    menu>ul>li {
        display: inline-block;
        background-color: #21203f89;
    }

    .container {
        display: flex;
        align-items: center;
        margin-top: 5vh;
    }

    .container img {
        max-width: 40vh;
        margin-right: 10vh;
        margin-left: 10vh;
        margin-bottom: auto;
    }

    .container p {
        flex: 1;
        margin-right: 15vh;
        font-family: cursive;
    }

    .containerinverted {
        display: flex;
        align-items: center;
        margin-top: 10vh;
    }

    .containerinverted img {
        max-width: 35vh;
        margin-right: 10vh;
        margin-left: 15vh;
        margin-bottom: 5vh;
    }

    .containerinverted p {
        flex: 1;
        margin-left: 15vh;
        font-family: cursive;
    }

    .containerfooter {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .containerfooter img {
        max-width: 30vh;
        margin-right: 1vh;
        margin-left: 5vh;
    }

    .containerfooter p {
        flex: 1;
    }

    main {
        width: 90vw;
        margin: auto;
    }

    article>h2 {
        padding-bottom: 17px;
    }

    article>p {
        text-align: justify;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 90vw;
        margin: auto;
    }

}

@media screen and (min-width: 1201px) {
    body {
        background-image: url("../gif/frierenskygif.gif");
        background-attachment: fixed;
        background-size: cover;
    }

    #burger {
        display: none;
    }

    menu {
        display: block;
        background-color: #21203f89;
    }

    menu>ul>li {
        display: inline-block;
        background-color: #21203f89;
    }

    .container {
        display: flex;
        align-items: center;
        margin-top: 5vh;
    }

    .container img {
        max-width: 40vh;
        margin-right: 10vh;
        margin-left: 5vh;
        margin-bottom: auto;
    }

    .container p {
        flex: 1;
        margin-right: 15vh;
        font-family: cursive;
        font-size: 3vh;
    }

    .containerinverted {
        display: flex;
        align-items: center;
        margin-top: 10vh;
    }

    .containerinverted img {
        max-width: 40vh;
        margin-right: 5vh;
        margin-left: 10vh;
        margin-bottom: 5vh;
    }

    .containerinverted p {
        flex: 1;
        margin-left: 15vh;
        font-family: cursive;
        font-size: 3vh;
    }

    .containerfooter {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .containerfooter img {
        max-width: 30vh;
        margin-right: 1vh;
        margin-left: 5vh;
    }

    .containerfooter p {
        flex: 1;
    }

    main {
        width: 90vw;
        margin: auto;
    }

    article>h2 {
        padding-bottom: 17px;
        color: black;
        margin-left: 5vh;
        font-size: 7vh;
        margin-top: 3vh;
    }

    article>p {
        text-align: flex;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 90vw;
        margin: auto;
    }
}